--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn[standard]
python-dotenv
youtube-transcript-api
langchain
langchain-core
langchain-text-splitters
langchain-chroma
langchain-huggingface
chromadb
sentence-transformers
huggingface-hub